.md-sz{
    width: 150% !important;
    border-radius: 22px !important;;
    border: 1px solid red !important;;
}

.p-12{
    padding: 12px;
}

.mar-rig-6
{
    margin-right: 6px;
}
.float-right{
    float:right
}
.button-css{
    width: 16%;
    border-radius: 25Px;
    font-weight: 900;
}

::ng-deep modal-content{
    border-radius: 22px;
}

.modal-close{
    margin-top: -42px;
    width: 8%;
    float: right;
    margin-right: -29px;
    cursor: pointer;
}

.border{
    border: 1px solid red !important;
}