.p-12{
    padding: 12px;
}

.form-label{
    font-weight: 700;
}

.button-css{
    width: 48%;
    border-radius: 25Px;
    font-weight: 900;
}

::ng-deep modal-content{
    border-radius: 22px;
}

.modal-close{
    margin-top: -42px;
    width: 8%;
    float: right;
    margin-right: -29px;
    cursor: pointer;
}