
<div class="modal-header">
    <h4 class="modal-title pull-left">Reset Password</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalHide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="col-md-12 p-12">
            <label for="userName" class="form-label">UserName:</label>
            <input class="form-control" name="username" type="text" id="userName" [(ngModel)]="usernameValue">
        </div>
        <div class="col-md-12 p-12">
            <label for="pssword" class="form-label">password:</label>
            <input class="form-control" name="pasword" type="password" id="pssword" [(ngModel)]="passwordValue">
        </div>
        <div class="col-md-12 p-12">
            <label for="pssword" class="form-label">Confirm password:</label>
            <input class="form-control" name="pasword" type="password" id="pssword" [(ngModel)]="passwordValue">
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="button-css btn btn-success" (click)="modalRef.hide()">submit</button>
    <button type="button" class="button-css btn btn-danger" (click)="modalRef.hide()">close</button>
</div>


