<div class="modal-header ">
    <span> <h4 class="modal-title pull-left">Reset Password</h4></span>
    <span>
        <img class="modal-close" src="./assets/img/x-button.png" alt="profile" (click)="modalHide()">
    </span>
</div>
<div class="modal-body">
    <div class="alert" *ngIf="displayErrorMessage" [ngClass]="{
        'alert-danger':messages.messageCode == '400',
        'red-border':messages.messageCode == '400'
        }" role="alert">
            <button type="button" class="btn-close close float-right" aria-label="Close" (click)="alertClose()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
            <span *ngIf="messages.messageCode == '400'"><i
                    class="mar-rig-6 fas fa-exclamation-triangle"></i>{{messages.message}}</span>
        </div>
    <div class="form-group">
        <div class="col-md-8 p-12">
            <label for="userName" class="form-label">Username:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                <input class="form-control form-control-sm p-12" name="username" type="text" id="userName"
                    placeholder="username" [(ngModel)]="usernameValue">
            </div>
        </div>
        <div class="col-md-8 p-12">
            <label for="pssword" class="form-label">Password:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                <input class="form-control form-control-sm p-12" name="pasword" type="password" id="pssword"
                    placeholder="password" [(ngModel)]="passwordValue">
            </div>
        </div>
        <div class="col-md-8 p-12" *ngIf = "passwordValue">
            <label for="pssword" class="form-label">Confirm Password:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input class="form-control form-control-sm p-12" name="pasword" type="password" id="pssword"
                    placeholder="confirm password" [(ngModel)]=" confirmPasswordValue">
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="button-css btn btn-success" (click)="submitModal()">Submit</button>
    <button type="button" class="button-css btn btn-danger" (click)="resetModal()">Reset</button>
</div>