.md-sz{
    width: 150% !important;
    border-radius: 22px !important;;
    border: 1px solid red !important;;
}

.p-12{
padding: 12px;
}

.form-label{
    font-weight: 700;
}

.button-css{
    width: 15%;
    border-radius: 25Px;
    }