.md-sz{
    width: 150% !important;
    border-radius: 22px !important;;
    border: 1px solid red !important;;
}

.p-12{
padding: 12px;
}

.form-label{
    font-weight: 700;
}

.button-css{
    width: 100px;
    border-radius: 25Px;
    font-weight: 900;
    }

    ::ng-deep .my-modal-reset .modal-content {
        border-radius: 22px;
        border: 1px solid lightgray;
    }

.modal-close{
    width: 7%;
    float: right;
    cursor: pointer;
}
.mar-rig-6
{
    margin-right: 6px;
}
.float-right{
    float:right
}