<div class="container mar-top">
    <span><img class="img-wd mr-rt" src="./assets/img/phone.png" alt="profile">Contct</span>
    <hr>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 m-lf-rt">
                <div class="row profile-NM bg-col">
                    <div class="col-md-12">
                        <span><img class="mr-rt wd-4" src="./assets/img/mail.png" alt="mail"></span> 
                        <span class="mr-lf-43">twitter@support.com</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-lf-rt">
                <div class="row profile-NM bg-col">
                    <div class="col-md-12">
                        <img class="mr-rt wd-4" src="./assets/img/c-phone.png" alt="call"><span
                            class="mr-lf-62">1800-244-9090</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-lf-rt">
                <div class="row profile-NM bg-col">
                    <div class="col-md-12">
                        <img class="mr-rt wd-4" src="./assets/img/map.png" alt="location"><span
                            class="mr-lf-87">Bengaluru</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>