
.p-1{
padding: 12px;
}

.form-label{
    font-weight: 700;
}

.button-css{
    width: 100px;
    border-radius: 25Px;
    font-weight: 900;
    }

.modal-close{
    margin-top: -3%;
    width: 5%;
    float: right;
    margin-right: -4%;
    cursor: pointer;
}

.wid-55{
    width: 55%;
}
.p-20{
    padding:20px;
}
.wd-5{
    width: 5%;
}

.input-field{
    border: transparent;
    padding: 22px;
    width: 99%;
}


.input-field:hover{
   border: none;
}

.box-shad:hover{
    box-shadow: 2px 10px 18px -10px;
}
::ng-deep .my-modal-comment .modal-content {
    border-radius: 22px;
    border: 1px solid black;
}