<div class="container mar-top">
    <span><img class="img-wd mr-rt" src="./assets/img/mail.png" alt="profile">Report</span>
    <hr>
    <div class="col-md-12">
        <div class="col-md-5 mb-3 m-l-30">
            <label for="firstname" class="form-label">First Name:</label>
            <input type="name" class="form-control" id="firstname" placeholder="First Name" [(ngModel)]="firstname">
        </div>
        <div class="col-md-5 mb-3 m-l-30">
            <label for="lastname" class="form-label">Last Name:</label>
            <input type="name" class="form-control" id="lastname" placeholder="Last Name" [(ngModel)]="lastname">
        </div>
        <div class="col-md-5 mb-3 m-l-30">
            <label for="mobile" class="form-label">Mobile Number:</label>
            <input type="name" class="form-control" id="mobile" placeholder="Mobile Number" [(ngModel)]="mobile">
        </div>
        <div class="col-md-5 mb-3 m-l-30">
            <label for="email" class="form-label">Email Address:</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email">
        </div>
        <div class="col-md-5 mb-3 m-l-30">
            <label for="message" class="form-label">Issue</label>
            <textarea class="form-control" id="message" rows="3" placeholder="report your issue" [(ngModel)]="message"></textarea>
        </div>
        <hr>
        <div class="row  fl-r">
            <div class="col-md-12">
                <button class="button-css btn btn-primary m-r-12" (click)="reportIssue()">Report</button>
                <button class="button-css btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>