<div class="container">
    <div class="row">
        <div class= "alert" *ngIf = "displayErrorMessage" [ngClass]="{
        'alert-danger':messages.messageCode == '400',
        'alert-success':messages.messageCode == '200',
        'red-border':messages.messageCode == '400',
        'green-border':messages.messageCode == '200'}" role="alert">
            <button type="button" class="btn-close close float-right" aria-label="Close" (click)="alertClose()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
            <span *ngIf ="messages.messageCode == '400'"><i class="mar-rig-6 fas fa-exclamation-triangle"></i>{{messages.message}}</span>
            <span *ngIf ="messages.messageCode == '200'"><i class="mar-rig-6 fas fa-check-circle"></i>{{messages.message}}</span>
        </div>
    </div>
    <div class="row justify-content-center m-t-6">
        <div class="col-md-4 b-12 box-hov">
            <div class="col-md-12 p-30">
                <span class="font-sz">
                    <h1><i class="fab fa-twitter img-css"></i>LOGIN</h1>
                </span>
            </div>
            <div class="col-md-12 p-30">
                <label for="userId" class="form-label font-sz">User Name:</label>
                <p class="float-right font-sz">create new account ? <a routerLink=""
                        (click)="openRegistrationModal()">Sign Up</a></p>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    <input class="form-control form-control-sm p-12" type="text" id="userId" name="userName"
                        placeholder="username" [(ngModel)]="usernameValue">
                </div>
            </div>
            <div class="col-md-12 p-30">
                <label for="pswdId" class="form-label font-sz">Password:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input class="form-control form-control-sm p-12" type="password" id="pswdId" name="Password"
                        placeholder="password" [(ngModel)]="passwordValue">
                </div>
                <p class="font-sz mar-top">forgot password? <a routerLink="" (click)="openResetPasswordModal()">Reset Password</a>
                </p>
            </div>
            <div class="col-md-12 p-30 ">
                <button type="button" class="btn btn-success button" (click)="onLogin()">Login</button>
                <button type="button" class="btn btn-danger button" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
</div>