<div class="container">
    <div class="row">
        <div class="alert" *ngIf="displayErrorMessage" [ngClass]="{
        'alert-danger':messages.messageCode == '400',
        'alert-success':messages.messageCode == '200',
        'red-border':messages.messageCode == '400',
        'green-border':messages.messageCode == '200'}" role="alert">
            <button type="button" class="btn-close close float-right" aria-label="Close" (click)="alertClose()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
            <span *ngIf="messages.messageCode == '400'"><i
                    class="mar-rig-6 fas fa-exclamation-triangle"></i>{{messages.message}}</span>
            <span *ngIf="messages.messageCode == '200'"><i
                    class="mar-rig-6 fas fa-check-circle"></i>{{messages.message}}</span>
        </div>
    </div>
    <div class="row justify-content-center m-t-6">
        <div class="col-md-4 b-12 box-hov">
            <div class="col-md-12 p-30">
                <span class="font-sz">
                    <h1><i class="fab fa-twitter img-css"></i>LOGIN</h1>
                </span>
            </div>
            <div class="col-md-12 p-30">
                <label for="userId" class="form-label font-sz">User Name<span style="color: red;">*</span>:</label>
                <p class="float-right font-sz" style="
                margin-top: -18px;">create new account?<span style="
                    text-decoration-line: underline;
                    color: #0d6efd;
                    cursor: pointer;
                " (click)="openRegistrationModal()">
                        Sign Up</span></p>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    <input [ngClass]="{'border-text':formUserValidationMessage}" class="form-control form-control-sm p-12" type="text" id="userId" name="userName"
                        placeholder="username" [(ngModel)]="usernameValue">
                </div>
            </div>
            <div class="col-md-12 p-30">
                <label for="pswdId" class="form-label font-sz">Password<span style="color: red;">*</span>:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input [ngClass]="{'border-text':formPasswordValidationMessage}"class="form-control form-control-sm p-12" type="password" id="pswdId" name="Password"
                        placeholder="password" [(ngModel)]="passwordValue">
                </div>
                <p class="font-sz mar-top">forgot password? <span style="
                    text-decoration-line: underline;
                    color: #0d6efd;
                    cursor: pointer;
                " (click)="openResetPasswordModal()">Reset Password</span>
                </p>
            </div>
            <div class="col-md-12 p-30 ">
                <button type="button" class="btn btn-primary button" (click)="onLogin()">Login</button>
                <button type="button" class="btn btn-danger button" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
</div>