.p-30{
    padding: 20px;
}

.b-12{
    border: 1px solid lightgray;
    border-radius: 16px;
}

.m-t-6{
    margin-top: 6%;
}
.float-right{
    float:right
}

.button{
    border-radius: 20px;
    width: 34%;
    margin-left: 36px;
    font-weight: 700;
}

.font-sz{
    font-weight: 600;
    color: black;
    font-family: inherit;
}

::ng-deep .my-modal .modal-content {
    border-radius: 22px;
    border: 1px solid black;
}

.img-css{
    color: deepskyblue;
    margin-left: 80px;
    margin-right: 15px;
}

.mar-top{
    margin-top: 5px;
}

.box-hov:hover{
    box-shadow: -1px 0px 24px -6px;
}

.p-12{
    padding: 12px;
}

.red-border{
    border: 1px solid red !important;
    margin-top: 10px;
    width: 50%;
    margin-left: 26%;
}

.green-border{
    border: 1px solid green !important;
    margin-top: 10px;
    width: 50%;
    margin-left: 26%;
}
.mar-rig-6
{
    margin-right: 6px;
}

a{
    color: #0d6efd !important ;
    text-decoration: underline !important;
}