.p-30{
    padding: 20px;
}

.b-12{
    border: 1px solid lightgray;
    border-radius: 16px;
}

.m-t-6{
    margin-top: 6%;
}
.float-right{
    float:right
}

.button{
    border-radius: 20px;
    width: 34%;
    margin-left: 36px;
    font-weight: 700;
}

.font-sz{
    font-weight: 600;
    color: black;
    font-family: inherit;
}

.modal-size{
    width: 150%;
    border-radius: 22px;
    border: 1px solid black;
}